<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; 2024 DEH eSport. Ce projet est une version modifiée et open source. 
           
        </small>
    </p>
</footer>