<style>
    /* Styles pour les effets hover */
    .nav-item:hover .nav-link {
        color: #ffffff; /* Couleur du texte au survol */
        background-color: rgba(255, 255, 255, 0.1); /* Couleur de fond au survol */
    }
</style>

<nav class="navbar navbar-expand-sm justify-content-start navbar-dark mb-4" style="border-color: black!important; background: #202020;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}" style="font-family: sans-serif; font-size: 24px; font-weight: bold; color: white; text-decoration: none !important;">
            <img src="{{ asset('build/images/logo deh.png') }}" alt="Hebdostats" height="50" style="margin-right: 10px;">Hebdo’Stats 
        </a>
    </div>
</nav>
