{% extends 'layouts/base.html.twig' %}
{% block title %}Erreur Serveur{% endblock %}
{% block body %}
    <div class="text-center">
    <h1>&#x1F976; Erreur Serveur &#x1F976;</h1>
    <p> 
        Visiblement il y a eu un bug coté serveur &#x1F643;
    </p>
    <small>Si le problème persiste tu peux contacter le 
    <a target="_blank" href="https://twitter.com/Buch_LilMarty">créateur du site</a></small>
    </div>
{% endblock %}