{% extends 'layouts/base.html.twig' %}
{% block title %}Erreur Start.gg{% endblock %}
{% block body %}
    <div class="text-center">
    <h1>&#x1F976; Erreur Start.gg &#x1F976;</h1>
    <p> 
        Petit bug du coté de Start.gg
    </p>
    <small>Rafraichis la page, en général ça fonctionne</small>
    </div>
{% endblock %}